In [1]:
import pandas as pd
data = pd.read_csv("../dataset/USA_dataset.csv")
data.head()

,title,company_name,location,via,description,qualifications,responsibilities,benefits,job_id,location_coords,latitude,longitude
0,Blockchain Analyst,Allium,"New York, NY",Jobs,About the role\n• Sherlock & Enola Holmes leve...,['Ability to parse and understand EVM (and/or ...,['Tackling interesting problems - we are inges...,['An accelerated growth trajectory - you will ...,eyJqb2JfdGl0bGUiOiJCbG9ja2NoYWluIEFuYWx5c3QiLC...,"(40.7127281, -74.0060152)",40.712728,-74.006015
1,Full Stack Blockchain Engineer,geojam,"Los Angeles, CA",AngelList,"Who We Are\n\nLaunched in 2020, Geojam is a so...",['We’re looking for a capable generalist engin...,['You will be designing and building our core ...,"['We’re wrapping up our presale for $JAM, so y...",eyJqb2JfdGl0bGUiOiJGdWxsIFN0YWNrIEJsb2NrY2hhaW...,"(34.0536909, -118.242766)",34.053691,-118.242766
2,Blockchain Engineer - Apps Platform at Exodus ...,Exodus,"Livermore, CA","Livermore, CA - Geebo",Exodus is looking for a detail-orientated Bloc...,NaN,NaN,NaN,eyJqb2JfdGl0bGUiOiJCbG9ja2NoYWluIEVuZ2luZWVyIC...,"(37.6820583, -121.768053)",37.682058,-121.768053
3,Blockchain Data Analytics: Tech Lead - Assista...,EY,"New York, NY",EY Careers,"At EY, you’ll have the chance to build a caree...","['Agile Delivery and Development', 'Quality As...",['Technical leadership of data focused product...,['Other geographies will follow their local sa...,eyJqb2JfdGl0bGUiOiJCbG9ja2NoYWluIERhdGEgQW5hbH...,"(40.7127281, -74.0060152)",40.712728,-74.006015
4,STI25526 Technical Architect Block Chain,Software Technology Inc.,"Irving, TX",LinkedIn,Title: Technical Architect Block Chain\n\nLoca...,['We need person with RUST (Block chain) knowl...,['Develop cutting-edge software solutions in r...,NaN,eyJqb2JfdGl0bGUiOiJTVEkyNTUyNiBUZWNobmljYWwgQX...,"(32.8295183, -96.9442177)",32.829518,-96.944218

## Location Column

In [2]:
print(data['location'].value_counts())

  New York, NY                 24
  San Francisco, CA            16
  Annapolis Junction, MD       12
  Chicago, IL                  11
  Palo Alto, CA                 9
                               ..
  Westborough, MA               1
  Downers Grove, IL             1
  Houston, TX                   1
  Trenton, NJ                   1
  Minneapolis, MN               1
Name: location, Length: 135, dtype: int64

## Subset dataset and clean

In [3]:
subset_dataset = data.iloc[:, [0, 1, 2, 3, -1,-2]]
subset_dataset.head()
# get frequency
subset_dataset['company_freq'] = subset_dataset['company_name'].map(subset_dataset['company_name'].value_counts())
subset_dataset['location_freq'] = subset_dataset['location'].map(subset_dataset['location'].value_counts())
subset_dataset['via_freq'] = subset_dataset['via'].map(subset_dataset['via'].value_counts())
subset_dataset.to_csv('../dataset/us_freq.csv', index=False)

/var/folders/h0/sq_brb3d0_lfvtk4fhlbrck00000gn/T/ipykernel_49083/1668862147.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_dataset['company_freq'] = subset_dataset['company_name'].map(subset_dataset['company_name'].value_counts())
/var/folders/h0/sq_brb3d0_lfvtk4fhlbrck00000gn/T/ipykernel_49083/1668862147.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_dataset['location_freq'] = subset_dataset['location'].map(subset_dataset['location'].value_counts())
/var/folders/h0/sq_brb3d0_lfvtk4fhlbrck00000gn/T/ipykernel_49083/1668862147.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_dataset['via_freq'] = subset_dataset['via'].map(subset_dataset['via'].value_counts())

## dataset used to make the plot 1

In [6]:
subset_dataset.head()

,title,company_name,location,via,longitude,latitude,company_freq,location_freq,via_freq
0,Blockchain Analyst,Allium,"New York, NY",Jobs,-74.006015,40.712728,1,24,2
1,Full Stack Blockchain Engineer,geojam,"Los Angeles, CA",AngelList,-118.242766,34.053691,1,8,7
2,Blockchain Engineer - Apps Platform at Exodus ...,Exodus,"Livermore, CA","Livermore, CA - Geebo",-121.768053,37.682058,1,3,1
3,Blockchain Data Analytics: Tech Lead - Assista...,EY,"New York, NY",EY Careers,-74.006015,40.712728,1,24,1
4,STI25526 Technical Architect Block Chain,Software Technology Inc.,"Irving, TX",LinkedIn,-96.944218,32.829518,1,5,16

In [7]:
import pandas as pd
data = pd.read_csv("../dataset/USA_dataset_nolat.csv")
data.head()

,title,company_name,location,via,description,qualifications,responsibilities,benefits,job_id
0,Senior Blockchain Software Engineer,Truist,Anywhere,via ZipRecruiter,The position is described below. If you want t...,"['Language Fluency: English (Required)', 'The ...",['Deliver highly complex solutions with signif...,['General Description of Available Benefits fo...,eyJqb2JfdGl0bGUiOiJTZW5pb3IgQmxvY2tjaGFpbiBTb2...
1,Get twitter accounts that are tied to blockcha...,Upwork,Anywhere,via Upwork,I am looking for a list of blockchain addresse...,NaN,NaN,NaN,eyJqb2JfdGl0bGUiOiJHZXQgdHdpdHRlciBhY2NvdW50cy...
2,Blockchain Analyst,Allium,"New York, NY",via Jobs,About the role\n• Sherlock & Enola Holmes leve...,['Ability to parse and understand EVM (and/or ...,['Tackling interesting problems - we are inges...,['An accelerated growth trajectory - you will ...,eyJqb2JfdGl0bGUiOiJCbG9ja2NoYWluIEFuYWx5c3QiLC...
3,Full Stack Blockchain Engineer,geojam,"Los Angeles, CA",via AngelList,"Who We Are\n\nLaunched in 2020, Geojam is a so...",['We’re looking for a capable generalist engin...,['You will be designing and building our core ...,"['We’re wrapping up our presale for $JAM, so y...",eyJqb2JfdGl0bGUiOiJGdWxsIFN0YWNrIEJsb2NrY2hhaW...
4,Blockchain Engineer - Apps Platform at Exodus ...,Exodus,"Livermore, CA","via Livermore, CA - Geebo",Exodus is looking for a detail-orientated Bloc...,NaN,NaN,NaN,eyJqb2JfdGl0bGUiOiJCbG9ja2NoYWluIEVuZ2luZWVyIC...

## clean

In [8]:
subset_dataset = data.dropna(subset=['location'])
subset_dataset['via'] = subset_dataset['via'].str.replace('via', '')

In [9]:
subset_dataset = subset_dataset.iloc[:, [0, 1, 2, 3]]
subset_dataset.head()
subset_dataset['company_freq'] = subset_dataset['company_name'].map(subset_dataset['company_name'].value_counts())
subset_dataset['location_freq'] = subset_dataset['location'].map(subset_dataset['location'].value_counts())
subset_dataset['via_freq'] = subset_dataset['via'].map(subset_dataset['via'].value_counts())
subset_dataset.to_csv('../dataset/us_freq_all.csv', index=False)

## dataset used to make the plot 2 and 3 (location not delete "anywhere" and "United States")

In [10]:
subset_dataset.head()

,title,company_name,location,via,company_freq,location_freq,via_freq
0,Senior Blockchain Software Engineer,Truist,Anywhere,ZipRecruiter,1,108,30
1,Get twitter accounts that are tied to blockcha...,Upwork,Anywhere,Upwork,34,108,34
2,Blockchain Analyst,Allium,"New York, NY",Jobs,1,23,4
3,Full Stack Blockchain Engineer,geojam,"Los Angeles, CA",AngelList,1,8,19
4,Blockchain Engineer - Apps Platform at Exodus ...,Exodus,"Livermore, CA","Livermore, CA - Geebo",1,3,1